<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hear Between The Lines</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Hear Between the Lines</h1>
    <p>Jam out... to your secrets</p>
  </div>
  <!--
  <div class="row">
    <div class="col-sm-4">
      <h3>How It Works</h3>
      <p>We encrypt your input into an mp3 file</p>
      <p>Only you and your friend hold the keys to decrypt the code</p>
    </div>
    <div class="col-sm-4">
      <h3>Project Originated From CS196</h3>
      <p>Staffs</p>
      <p>Everyone's names</p>
    </div>
    <div class="col-sm-4">
      <h3>Contact Us</h3>
      <p>Have questions? Contact us through link below</p>
      <p>Links to a ticket sending page</p>
    </div>
  </div>
  //-->
  <div class = "row">
    <div class="col-sm-4">
      <h3>Encrypt: Enter text and Upload a music file</h3>
      <form action = "" method = "post" enctype=multipart/form-data>
        <textarea cols="30" rows="4" name="message"></textarea>
        <input type="file" name="musicfile">
        <button type= "submit" value="Upload">Submit</button>

        <input type="file" name="encryptedfile">
        <button type= "submit" value="Upload">Submit</button>
      </form>
    </div>

    <div class="col-sm-4">
      <h3>Decrypt: Upload your "music" file below</h3>
      <!--
      <form action = "" method = "post" enctype=multipart/form-data>
        <input type="file" name="encryptedfile">
        <button type= "submit" value="Upload">Submit</button>

      </form>
    -->
    </div>

  </div>
</div>
